<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kooknluke.montanabreweries" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/montanabrews"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Beer"
            android:label="@string/title_activity_beer"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>
        <activity
            android:name=".Breweries"
            android:label="@string/title_activity_breweries"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>
        <activity
            android:name=".Town"
            android:label="@string/title_activity_town"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>
        <activity
            android:name=".State"
            android:label="@string/title_activity_state"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>
        <activity
            android:name=".Seasons"
            android:label="@string/title_activity_seasons"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>
        <activity
            android:name=".Nutrition"
            android:label="@string/title_activity_nutrition"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>
        <activity
            android:name=".beerList"
            android:label="@string/title_activity_beer_list"
            android:parentActivityName=".Beer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Beer" />
        </activity>
        <activity
            android:name=".breweryBeerList"
            android:label="@string/title_activity_brewery_beer_list"
            android:parentActivityName=".Breweries" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Breweries" />
        </activity>
        <activity
            android:name=".seasonsBeerList"
            android:label="@string/title_activity_seasons_beer_list"
            android:parentActivityName=".Seasons" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Seasons" />
        </activity>
        <activity
            android:name=".townBeerList"
            android:label="@string/title_activity_town_beer_list"
            android:parentActivityName=".Town" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Town" />
        </activity>
        <activity
            android:name=".stateBeerList"
            android:label="@string/title_activity_state_beer_list"
            android:parentActivityName=".State" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.State" />
        </activity>
        <activity
            android:name=".nutritionBeerList"
            android:label="@string/title_activity_nutrition_beer_list"
            android:parentActivityName=".Nutrition" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Nutrition" />
        </activity>
        <activity
            android:name=".beerHistory"
            android:label="@string/title_activity_beer_history"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>
    </application>

</manifest>
