<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kooknluke.montanabreweries" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".StaticStore"
        android:allowBackup="true"
        android:icon="@drawable/montanabrews"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data android:name="com.google.android.gms.version"
         android:value="@integer/google_play_services_version" />
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Beer"
            android:label="@string/title_activity_beer"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>
        <activity
            android:name=".Breweries"
            android:label="@string/title_activity_breweries"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>
        <activity
            android:name=".Town"
            android:label="@string/title_activity_town"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>
        <activity
            android:name=".State"
            android:label="@string/title_activity_state"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>
        <activity
            android:name=".Seasons"
            android:label="@string/title_activity_seasons"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>
        <activity
            android:name=".Nutrition"
            android:label="@string/title_activity_nutrition"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>
        <activity
            android:name=".beerList"
            android:label="@string/title_activity_beer_list"
            android:parentActivityName=".Beer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Beer" />
        </activity>
        <activity
            android:name=".breweryBeerList"
            android:label="@string/title_activity_brewery_beer_list"
            android:parentActivityName=".Breweries" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Breweries" />
        </activity>
        <activity
            android:name=".seasonsBeerList"
            android:label="@string/title_activity_seasons_beer_list"
            android:parentActivityName=".Seasons" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Seasons" />
        </activity>
        <activity
            android:name=".townBeerList"
            android:label="@string/title_activity_town_beer_list"
            android:parentActivityName=".Town" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Town" />
        </activity>
        <activity
            android:name=".stateBeerList"
            android:label="@string/title_activity_state_beer_list"
            android:parentActivityName=".State" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.State" />
        </activity>
        <activity
            android:name=".nutritionBeerList"
            android:label="@string/title_activity_nutrition_beer_list"
            android:parentActivityName=".Nutrition" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Nutrition" />
        </activity>
        <activity
            android:name=".beerHistory"
            android:label="@string/title_activity_beer_history"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>
        <activity
            android:name=".beerHistoryList"
            android:label="@string/title_activity_beer_history_list"
            android:parentActivityName=".beerHistory" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.beerHistory" />
        </activity>
        <activity
            android:name=".beerInfo"
            android:label="@string/title_activity_beer_info"
            android:parentActivityName=".beerList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.beerList" />
        </activity>
        <activity
            android:name=".Connection"
            android:label="@string/title_activity_connection"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Map"
            android:label="@string/title_activity_map" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.montanabreweries.Home" />
        </activity>
    </application>

</manifest>
