<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kooknluke.abrewforyou" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.kooknluke.abrewforyou.StaticStore"
        android:allowBackup="true"
        android:icon="@drawable/montanabrews"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data android:name="com.google.android.gms.version"
         android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.kooknluke.abrewforyou.Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kooknluke.abrewforyou.Beer"
            android:label="@string/title_activity_beer"
            android:parentActivityName="com.kooknluke.abrewforyou.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.abrewforyou.Home" />
        </activity>
        <activity
            android:name="com.kooknluke.abrewforyou.Breweries"
            android:label="@string/title_activity_breweries"
            android:parentActivityName="com.kooknluke.abrewforyou.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.abrewforyou.Home" />
        </activity>
        <activity
            android:name="com.kooknluke.abrewforyou.Town"
            android:label="@string/title_activity_town"
            android:parentActivityName="com.kooknluke.abrewforyou.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.abrewforyou.Home" />
        </activity>
        <activity
            android:name="com.kooknluke.abrewforyou.State"
            android:label="@string/title_activity_state"
            android:parentActivityName="com.kooknluke.abrewforyou.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.abrewforyou.Home" />
        </activity>
        <activity
            android:name="com.kooknluke.abrewforyou.Seasons"
            android:label="@string/title_activity_seasons"
            android:parentActivityName="com.kooknluke.abrewforyou.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.abrewforyou.Home" />
        </activity>
        <activity
            android:name="com.kooknluke.abrewforyou.beerList"
            android:label="@string/title_activity_beer_list"
            android:parentActivityName="com.kooknluke.abrewforyou.Beer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.abrewforyou.Beer" />
        </activity>
        <activity
            android:name="com.kooknluke.abrewforyou.beerInfo"
            android:label="@string/title_activity_beer_info"
            android:parentActivityName="com.kooknluke.abrewforyou.beerList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.abrewforyou.beerList" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.kooknluke.abrewforyou.Map"
            android:label="@string/title_activity_map" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kooknluke.abrewforyou.Home" />
        </activity>
    </application>

</manifest>
